@font-face {
    font-family: "Pretendard-Regular";
    src: url("../font/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("../font/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #29363d;
    --sub-color: #5a6a72;
}

body {
    font-family: "Pretendard-Regular", sans-serif;
    color: var(--main-color);
    background-color: #fff;
    width: 1728px;
}

section.container {
    width: 1224px;
    margin: 118px auto 0;
}

/* 공통 속성 */
article {
    width: 288px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.read-more {
    font-family: "Pretendard-Bold";
    font-size: 14px;
    text-decoration: underline;
    width: 70px;
    padding: 3px 6px;
    text-align: left;
}

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header */
.header {
    height: 32px;
}

.header h2 {
    width: 78px;
    font-family: "Pretendard-Bold";
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0%;
    padding: 6px 0;
    float: left;
}

.header img{
    float: right;
}

/* section list */
.list {
    margin-top: 32px;
}

/* card */
.card {
    margin-right: 24px;
    float: left;
}

.card:last-child {
    margin-right: 0;
}

.card header {
    padding: 16px 16px 12px;
}

.card header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 16px;
}

.card header div {
    padding: 3px 0;
}

.card header h2 {
    font-family: "Pretendard-Bold", sans-serif;
    margin-bottom: 1px;
}

.card header p {
    font-size: 12px;
    color: var(--sub-color);
}

.card .thumbnail {
    width: 100%;
    aspect-ratio: 288px/196px;
    object-fit: cover;
}

.card .content {
    padding: 10px 16px 16px;
}

.content p {
    font-size: 12px;
    line-height: 160%;
    color: var(--sub-color);
    margin-bottom: 12px;
}

.card .read-more {
    position: relative;
    margin-top: 4px;
    float: left;
}

.card .read-more::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-6px, -50%) rotate(45deg);
}

.card .btn-group {
    float: right;
}

.card .btn-group button {
    width: 32px;
    height: 32px;
    float: left;
}
.card .btn-group img {
    width: 32px;
    height: 32px;
}

.card .btn-group :nth-child(3),
.card .btn-group :nth-child(2) {
    margin-left: 8px;
}